{% extends "base.html.twig" %}

{% block title %}TEST{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel=“stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container align-content-center">
        <div class="col-12">
            <h1 class="question my-4" id="question"></h1>
        </div>
        <div class="col-12 row justify-content-around">
            <div class="timer" id="timer">
                Truc qui donne le temps restant
            </div>
            <div class="text-center">
                <img src="{{ apians[0].image.url }}" alt="{{ apians[0].name }}" class="image-hero">
            </div>
            <div class="nbAnswers column">
                <div>Réponses reçues</div>
                <div id="nbReponses"></div>
            </div>
        </div>
        <div class="reponses column">
            <div class="col-12 justify-content-around row">
                <div class="card bg-primary text-white rouge col-6 row" id="reponseRouge"><i class="fas fa-sleigh my-2" style="font-size: 6em;"></i></div>
                <div class="card bg-primary text-white vert col-6 row" id="reponseVerte"><i class="fas fa-holly-berry my-2" style="font-size: 6em;"></i></div>
            </div>
            <div class="col-12 justify-content-around row">
                <div class="card bg-primary text-white blanc col-6 row" id="reponseBlanche"><i class="fas fa-gifts my-2" style="font-size: 6em;"></i>d</div>
                <div class="card bg-primary text-white dore col-6 row" id="reponseDoree"><i class="fas fa-candy-cane my-2" style="font-size: 6em;"></i>e</div>
            </div>
            <div class="col-12 justify-content-around row">
                <div class="card bg-primary text-white vert col-6 row" id="reponseBlanche"><i class="fas fa-snowman my-2" style="font-size: 6em;"></i>c</div>
                <div class="card bg-primary text-white dore col-6 row" id="reponseDoree"><i class="fas fa-snowflake my-2" style="font-size: 6em;"></i>f</div>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        const url = new URL('http://mercure.mr486.com/.well-known/mercure');
        url.searchParams.append('topic', 'question');
        const eventSource = new EventSource(url);
        // eventSource.onmessage = e => console.log(e);
        eventSource.onmessage = e => {
            const obj = JSON.parse(e.data);
            document.getElementById('question').innerHTML = obj['question'];
            document.getElementById('nbReponses').innerHTML = obj['nbReponses'];
            document.getElementById('image').setAttribute("src", obj['image']);
            document.getElementById('timer').innerHTML = obj['timer'];
            let p = document.createElement("span");
            p.innerHTML = obj['reponseRouge'];
            document.getElementById('reponseRouge').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseVerte'];
            document.getElementById('reponseVerte').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseBlanche'];
            document.getElementById('reponseBlanche').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseDoree'];
            document.getElementById('reponseDoree').appendChild(p);
        }
    </script>
{% endblock %}



