{% extends "base.html.twig" %}

{% block title %}TEST{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel=“stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container align-content-center">
        <form method="post" action="{{ path('reponse') }}">
            <input type="hidden">
            <button type="submit" value="reponse">Afficher Réponse</button>
        </form>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        const url = new URL('https://mercure.mr486.com/.well-known/mercure');
        url.searchParams.append('topic', 'question');
        const eventSource = new EventSource(url);
        // eventSource.onmessage = e => console.log(e);
        eventSource.onmessage = e => {
            const obj = JSON.parse(e.data);
            document.getElementById('question').innerHTML = obj['question'];
            document.getElementById('nbReponses').innerHTML = obj['nbReponses'];
            document.getElementById('image').setAttribute("src", obj['image']);
            document.getElementById('timer').innerHTML = obj['timer'];
            let p = document.createElement("span");
            p.innerHTML = obj['reponseRouge'];
            document.getElementById('reponseRouge').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseVerte'];
            document.getElementById('reponseVerte').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseBlanche'];
            document.getElementById('reponseBlanche').appendChild(p);
            p = document.createElement("span");
            p.innerHTML = obj['reponseDoree'];
            document.getElementById('reponseDoree').appendChild(p);
        }
    </script>
{% endblock %}



