{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Kapout !{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel=“stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="justify-content-center align-items-center">
            <div  style="font-size: 120px; font-weight:900"><div>PIN CODE :</div><div>231079</div>
        </div>
        <div class="justify-content-center">
            <a class="btn btn-primary" href="/questions" role="button">PLAY !!</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
