{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Kapout !{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel=“stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container">
        <a class="btn btn-primary" href="/godata" role="button">Envoyer infos</a>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
