<footer>
    <div class="uk-card-footer">
        <ul>
            <li>
                <h4>Aide</h4>
            </li>
            <li>
                <a href="">Questions fréquentes</a>
            </li>
            <li>
                <a href="">Nous contacter</a>
            </li>
        </ul>
    </div>
    <div class="uk-hidden@s" style="height: 80px"></div>
</footer>