<footer>
    <div class="uk-card-footer">
        <ul>
            <li>
                <a href="">Questions fréquentes</a>
            </li>
            <li>
                <a href="">Nous contacter</a>
            </li>
        </ul>
    </div>
</footer>
