<footer>
    <div>
        <ul>
            <li>
                Kapout was made with love by
            </li>
            <li >
                ❆ <a href="https://github.com/co67600" title="co67600 on Github">co67600</a> ❆
            </li>
            <li >
                ❅ <a href="https://github.com/ati674" title="ati674 on Github">ati674</a> ❅
            </li>
            <li >
                ❆ <a href="https://github.com/ComteDeX" title="Comte de X on Github">Comte de X</a> ❆
            </li>
            <li >
                ❅ <a href="https://github.com/monsieur486" title="monsieur486 on Github">monsieur486</a> ❅
            </li>
            <li>
                ❆ <a href="https://github.com/Delphinus-dev" title="Delphinus-dev on Github">Delphinus</a> ❆
            </li>
            <li>
                from <a href="https://www.wildcodeschool.com/fr-FR/formations/developpeur-web?campus=strasbourg" title="WCS Strasbourg">Wild Code School Strasbourg</a>
            </li>
        </ul>
    </div>
</footer>

