{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Kapout !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="couronne">
    <img src="{{ asset('build/images/couronne.png') }}" alt="couronne">
    </div>
    <div id="podium-box" class="row" style="height: 600px">
        <div class="col-md-4 step-container m-0 p-0">
            <div>
                Text 2
            </div>
            <div id="second-step" class="bg-blue step centerBoth podium-number">
                2
            </div>
        </div>
        <div class="col-md-4 step-container m-0 p-0">
            <div>
                Text 1
            </div>
            <div id="first-step" class="bg-blue step centerBoth podium-number">
               1
            </div>
        </div>
        <div class="col-md-4 step-container m-0 p-0">
            <div>
                Text 3
            </div>
            <div id="third-step" class="bg-blue step centerBoth podium-number">
                3
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
