{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Kapout !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="mainpage">
        <h1>Bienvenue sur Kapout !</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
