{% extends "base.html.twig" %}

{% block title %}Bienvenue sur Kapout !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="mainpage">
        <h1>Bienvenue sur Kapout !</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script>
        const url = new URL('https://mercure.mr486.com/.well-known/mercure');
        url.searchParams.append('topic', 'https://mercure.mr486.com/message');
        const eventSource = new EventSource(url);

        // The callback will be called every time an update is published
        eventSource.onmessage = e => console.log(e); // do something with the payload
    </script>
{% endblock %}
